<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <a href="#home" class="footer-website">www.jpcs.com</a>
        </div>
        <div class="footer-section">
            <h3>Current Projects</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Jump To</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#certifications">Certifications</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Let's Connect</h3>
            <div class="social-icons">
                <a href="https://github.com/jaypowellcs" aria-label="Github"><i class="fab fa-github"></i>Github</a>
                <a href="https://x.com/jaypowellcs" aria-label="Twitter"><i class="fab fa-twitter"></i>Twitter</a>
                <a href="https://www.linkedin.com/in/jay-powell-b9b7168a/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i>LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 JPCS. All rights reserved.</p>
    </div>
</footer>


@code {

}
