<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" class="logo">JPCS</a>
    </div>
    <ul class="navbar-links">
        <li><a href="#projects">Projects</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#certifications">Certifications</a></li>
        <li><a href="contact">Contact Me</a></li>
    </ul>
</nav>


