@page "/"


<div class="section-container">

<section id="projects">
    <h1>Projects</h1>
        <div class="card-container">
           
            <a href="project1">
            <div class="card">
                <img src="/Images/home.png" alt="Card Image">
            </div>
            </a>
            <a href="project2">
            <div class="card">
                <img src="/Images/healthcare.png" alt="Card Image">
            </div>
            </a>
            <a href="project3">
            <div class="card">
                <img src="/Images/curbmount.png" alt="Card Image">
            </div>
            </a>
            <a href="project4">
            <div class="card">
                <img src="/Images/hotel.png" alt="Card Image">
            </div>
            </a>
            <a href="project5">
            <div class="card">
                <img src="/Images/rightathome.png" alt="Card Image">
            </div>
            </a>
        </div>
</section>

<section id="education">
    <h1>Education</h1>
        <div class="card-container">
            <div class="card">
                <img src="/Images/wgu.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/mu.jpg" alt="Card Image">
            </div>
        </div>
</section>

<section id="certifications">
    <h1>Certifications</h1>
        <div class="card-container">
            <div class="card">
                <img src="/Images/itil.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/linux.webp" alt="Card Image">
            </div>
        </div>
</section>
</div>