@page "/"

<section id="certifications">
    <h1>Certifications</h1>
    <p>Details about certifications...</p>
</section>

<section id="education">
    <h1>Education</h1>
    <p>Details about education...</p>
</section>

<section id="projects">
    <h1>Projects</h1>
    <p>Details about projects...</p>
</section>
