@page "/"


<div class="section-container">

<section id="projects">
    <h1>Projects</h1>
        <div class="card-container">
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
        </div>
</section>

<section id="education">
    <h1>Education</h1>
        <div class="card-container">
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
        </div>
</section>

<section id="certifications">
    <h1>Certifications</h1>
        <div class="card-container">
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
            <div class="card">
                <img src="/Images/generic.png" alt="Card Image">
            </div>
        </div>
</section>
</div>