@page "/project1"


<div class="section-container">
    <section>
        <div class="intro">
            <h1>SkylightId</h1>
            <p>
                Developed a web application using Angular, .NET, and MySQL to assist contractors in identifying and accurately measuring skylights.
                The platform streamlines the process by providing detailed measurement guidelines and skylight classification,
                reducing common inquiries and improving efficiency.
            </p>
            <a href="https://github.com/jaypowellcs" aria-label="Github"><i class="fab fa-github"></i>Github Link</a>
        </div>
    </section>

    <section class="tech">
        <h2>Technologies Used</h2>
        <div class="tech-grid">
            <span>🔹 Angular</span>
            <span>🔹 MySQL</span>
            <span>🔹 Tailwind CSS</span>
            <span>🔹 .NET</span>
        </div>
    </section>

    <section>
        <h2>Screenshots</h2>
        <div>
            <p><strong>Home Screen</strong></p>
            <img class="image-placeholder" src="/Images/skylightidnet.png" alt="Main page of Skylight ID">
        </div>
        <div>
            <p><strong>Skylight Curb-Mounted Calculator</strong></p>
            <img class="image-placeholder" src="/Images/curbmount.png" alt="Section of the website Skylight ID">
        </div>
    </section>

    <section>
        <div class="features">
            <h2>Key Features</h2>
            <ul>
                <li>Skylight Calculator – Calculates three skylight types.</li>
                <li>Skylight Identification Tool</li>
                <li>Step-by-step measuring guide</li>
                <li>Common skylight sizes reference</li>
                <li>Contact & Support Page</li>
            </ul>
        </div>
    </section>

    <section>
        <div class="improvements">
            <h2>Room for Improvement</h2>
            <ul>
                <li>🚀 Need to host the website, still considering costs.</li>
                <li>🎨 Streamline and enhance UI design.</li>
            </ul>
        </div>
    </section>
</div>

@code {

}
